
table, th, td {
    border: 1px solid #80808012;
    border-collapse: collapse;
    padding: 20px;
    margin: 50px auto;
  }
  
  
  table tr:nth-child(odd) {
    background-color: #fbfbfbe3;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffffb5;
  }
  
  .single-user button {
    padding: 15px 30px;
    border-radius: 30px;
    border: 0px solid #fff;
  }
  
  .single-user button:hover {
    background-color: #046fa2;
    color: white;
  }
  
  .single-user tr:hover {
    background-color: #e4eff5;
  }
  
  .single-user th {
    background-color: #ffffff;
    color: black;
  }
  
  button {
    padding: 10px 10px;
    border-radius: 30px;
    margin: 2px;
    border: 0px solid #fff;
    position: relative;
    display: block;
  }
  
  button:hover {
    background-color: #046fa2;
    color: white;
  }
  
  @media only screen and (max-device-width: 981px) {
    table {
      border: 1px solid #80808012;
      border-collapse: collapse;
      padding: 20px;
      margin: 50px auto;
      overflow-y: scroll;
      width: 100%;
      display: block;
    }
  }
  
  .taskmanager-h1 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 0.05px;
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
  
  }
  
  .taskmanager-h1:after {
    position: absolute;
    left: 0;
    top: 85px;
    content: '';
    background: #ffffff;
    width: 60px;
    height: 3px;
    right: 0;
    margin: 0 auto;
  }
  
  .desciption-single {
    max-width: 150px;
    border: 1px solid #000000;
    word-wrap: break-word;
  
  }
  
  .back {
    padding: 10px 35px !important;
  }
  .priority {
    color: white;
    background: red;
  }
  .status {
    color: white;
    background: red;
  }
  .deadline {
    color: white;
    background: #7ba1dd;
  }