<div class="container taskmanagment">
  <h1 [ngClass]="'taskmanager-h1'">PROJECT MANAGMENT</h1>
  <table [ngClass]="'taskmanager'">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Project</th>
      <th> Tasks</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let project of projects | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
      <td>{{project.id }}</td>
      <td>
        <ng-container *ngIf="!project.isEditing; else editNameField">{{ project.name }}</ng-container>
        <ng-template #editNameField>
          <input type="text" [(ngModel)]="project.updatedName">
        </ng-template>
      </td>
      <td class="desciption-td">
        <ng-container *ngIf="!project.isEditing; else editDescriptionField">{{ project.description }}</ng-container>
        <ng-template #editDescriptionField>
          <textarea [(ngModel)]="project.updatedDescription"></textarea>
        </ng-template>
      </td>
      <td>
        <button (click)="redirectToProjectInfo(project.id)" class="view"> <i class="fa fa-eye" aria-hidden="true"></i> View Project</button>
      </td>
      <td>
        <button (click)="redirectToTaskDetail(project.id)" class="view"> <i class="fa fa-eye" aria-hidden="true"></i> View Tasks</button>
      </td>
      <td>
        <button *ngIf="!project.isEditing" (click)="toggleEditMode(project)" class="update"><i class='far fa-edit'></i> Update</button>
        <button *ngIf="project.isEditing" (click)="updateData(project)" class="save">Save</button>
        <button *ngIf="project.isEditing" (click)="cancelEdit(project)" class="cancel">Cancel</button>
      </td>
      <td>
        <button (click)="deleteData(project)" class="delete"> <i class="fa fa-trash" aria-hidden="true"></i>
           Delete</button>
      </td>
    </tr>
<br>
    <button (click)="openPopup()" class="add">ADD <i class="fa fa-plus" aria-hidden="true"></i>
    </button>

    <app-popup *ngIf="showPopup" (insertData)="insertData($event)" (closePopup)="closePopup()"></app-popup>
  </table>
<div class="container col-4" style="float: right">
  <!-- Pagination controls -->
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
  <br>
</div>
