<div class="container taskmanagment-single">
  <table [ngClass]="'single-user'">
    <thead>
      <tr>
        <th>Task Tittle</th>
        <th>Description</th>
        <th>Status</th>
        <th>Priority</th>
        <th>DeadLine</th>
        <th>AssignedTo</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td class="name">{{ task.name }}</td>
        <td class="description">{{ task.description }}</td>
    
        <td class="status"  [ngClass]="getRowStatusClasses(task)">
          <select id="task-status" [(ngModel)]="task.status" (ngModelChange)="saveStatus(task)">
            <option *ngFor="let statusOptions of statusOptions" [value]="statusOptions.value">{{ statusOptions.label }}</option>
          </select>
        </td>
        <td class="priority"  [ngClass]="getRowPriorityClasses(task)">
          <select id="priority-status" [(ngModel)]="task.priority" (ngModelChange)="savePriority(task)">
            <option *ngFor="let priorityOption of priorityOptions" [value]="priorityOption.value">{{ priorityOption.label }}</option>
          </select>
        </td>
        
        <td class="timeline">
          <input type="datetime-local" [(ngModel)]="task.deadLine" (ngModelChange)="saveDeadline(task)" [value]="task.deadLine">
          <p>{{ task.deadLine }}</p>
        </td>
         
         <td><img src="../../assets/images/male-avatar.webp" width="50" height="50" style="display: block;
          margin: auto;">
         <label style="text-align: center;"> {{ task.assignedTo }}</label></td>

      </tr>
    </tbody>
  </table>
</div>