body {
  background: url(../../../assets/images/computer.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

table, th, td {
  border: 1px solid #80808012;
  border-collapse: collapse;
  padding: 20px;
  margin: 50px auto;
}

table tr:nth-child(odd) {
  background-color: #fbfbfbe3;
}

table tr:nth-child(even) {
  background-color: #ffffffb5;
}

.taskmanager button {
  padding: 15px 30px;
  border-radius: 30px;
  border: 0px solid #fff;
}

.taskmanager button:hover {
  background-color: #046fa2;
  color: white;
}

.taskmanager tr:hover {
  background-color: #e4eff5;
}

.taskmanager th {
  background-color: #046fa2;
  color: white;
}

.taskmanager-h1 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 0.05px;
  text-align: center;
  margin-top: 0;
  padding-top: 30px;

}

.taskmanager-h1:after {
  position: absolute;
  left: 0;
  top: 85px;
  content: '';
  background: #ffffff;
  width: 60px;
  height: 3px;
  right: 0;
  margin: 0 auto;
}

.taskmanagment {
  background: url(../../../assets/images/computer.jpg) no-repeat;
  background-size: cover;
  height: 100%;
}
