<div class="container taskmanagment">
  <h1 [ngClass]="'taskmanager-h1'">TASK MANAGMENT</h1>
  <table [ngClass]="'taskmanager'">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Details</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let project of projects | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
      <td>{{project.id }}</td>
      <td>
        <ng-container *ngIf="!project.isEditing; else editNameField">{{ project.name }}</ng-container>
        <ng-template #editNameField>
          <input type="text" [(ngModel)]="project.updatedName">
        </ng-template>
      </td>
      <td class="desciption-td">
        <ng-container *ngIf="!project.isEditing; else editDescriptionField">{{ project.description }}</ng-container>
        <ng-template #editDescriptionField>
          <textarea [(ngModel)]="project.updatedDescription"></textarea>
        </ng-template>
      </td>
      <td>
        <button (click)="redirectToProjectInfo(project.id)">View</button>
      </td>
      <td>
        <button *ngIf="!project.isEditing" (click)="toggleEditMode(project)">Update</button>
        <button *ngIf="project.isEditing" (click)="updateData(project)">Save</button>
        <button *ngIf="project.isEditing" (click)="cancelEdit(project)">Cancel</button>
      </td>
      <td>
        <button (click)="deleteData(project)">Delete</button>
      </td>
    </tr>
    <br>
    <button (click)="openPopup()">ADD+</button>

    <app-popup *ngIf="showPopup" (insertData)="insertData($event)" (closePopup)="closePopup()"></app-popup>
  </table>
  <!-- Pagination controls -->
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  <br>
</div>
