table, th, td {
  border: 1px solid #80808012;
  border-collapse: collapse;
  padding: 20px;
  margin: 50px auto;
}

.desciption-td {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  border: 0px solid #fff0;
}


table tr:nth-child(odd) {
  background-color: #fbfbfbe3;
}

table tr:nth-child(even) {
  background-color: #ffffffb5;
}

.taskmanager button {
  padding: 10px 10px;
  border-radius: 30px;
  margin: 2px;
  border: 0px solid #fff
}

.taskmanager button:hover {
  background-color: #046fa2;
  color: white;
}

.taskmanager tr:hover {
  background-color: #e4eff5;
}

.taskmanager th {
  background-color: #046fa2;
  color: white;
}

.taskmanager-h1 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 0.05px;
  text-align: center;
  margin-top: 0;
  padding-top: 30px;

}

.taskmanager-h1:after {
  position: absolute;
  left: 0;
  top: 85px;
  content: '';
  background: #ffffff;
  width: 60px;
  height: 3px;
  right: 0;
  margin: 0 auto;
}


@media only screen and (max-device-width: 981px) {
  table {
    border: 1px solid #80808012;
    border-collapse: collapse;
    padding: 20px;
    margin: 50px auto;
    overflow-y: scroll;
    width: 100%;
    display: block;
  }
}

input, textarea {
  margin: auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
  background-color: transparent;
  display: block;

  border-radius: 0px;
  border: 0px solid #046fa2;
}

pagination-controls{
  padding: 0.1875rem 0.625rem;
  color: #fff!important;
  cursor: default;
  margin-top: 50px;
  text-align: right;
}
.current {
  padding: 0.1875rem 0.625rem;
  background: #046fa2!important;
  color: #fefefe;
  cursor: default;
}
.view {
  color: #389B6B;
}
.update {
  color: #3C8ECA;
}
.delete {
  color: #D84E38;
}
.add {
  padding: 10px 35px!important;
}
.save {
  padding: 10px 35px!important;
}
.cancel {
  padding: 10px 35px!important;
}
td:nth-child(n + 1):nth-child(-n + 2) {
  width: 10%;
}
