<div>
  <h3 style="margin-bottom: 30px;">Add new project</h3>

  <form class="overlay">
    <div>
      <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Name">
    </div>
    <br>
    <div>
      <textarea id="description" name="description" [(ngModel)]="description" placeholder="Description"></textarea>
    </div>
    <br>
    <div>
      <button type="button" (click)="addContact($event)"> Add Project <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
  </form>
</div>



