
table, th, td {
    border: 1px solid #80808012;
    border-collapse: collapse;
    padding: 15px 10px;
    margin: 50px auto;
    border: 2px solid #fff;

  }
  
  
  table tr:nth-child(odd) {
    background-color: #fbfbfbe3;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffffb5;
  }

  select {
    word-wrap: normal;
    border: 0px solid;
    background-color: transparent;
}

  .single-user button {
    padding: 15px 30px;
    border-radius: 30px;
    border: 0px solid #fff;
  }
  
  .single-user button:hover {
    background-color: #046fa2;
    color: white;
  }
  
  .single-user tr:hover {
    background-color: #e4eff5;
  }
  
  .single-user th  {
    background-color: #ffffff;
    color: black;
}
  
  button {
    padding: 10px 10px;
    border-radius: 30px;
    margin: 2px;
    border: 0px solid #fff;
    position: relative;
    display: block;
  }
  
  button:hover {
    background-color: #046fa2;
    color: white;
  }
  
  @media only screen and (max-device-width: 981px) {
    table {
      border: 1px solid #80808012;
      border-collapse: collapse;
      padding: 20px;
      margin: 50px auto;
      overflow-y: scroll;
      width: 100%;
      display: block;
    }
  }
  
  .taskmanager-h1 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 0.05px;
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
  
  }
  
  .taskmanager-h1:after {
    position: absolute;
    left: 0;
    top: 85px;
    content: '';
    background: #ffffff;
    width: 60px;
    height: 3px;
    right: 0;
    margin: 0 auto;
  }
  
  .desciption-single {
    max-width: 150px;
    border: 1px solid #000000;
    word-wrap: break-word;
  
  }
  
  .back {
    padding: 10px 35px !important;
  }

  
  .timeline {
    position: relative;
  }
/* Status Classes */
.todo-status {
  background-color: #fff1d6; 
  color: #f7dba5;/* Light red for TODO */
}

.working-status {
  background-color: #e8e4ff; 
  color: #aba3df;/* Light yellow for WORKING */
}

.pending-status {
  background-color: #ffe1e2;
  color:#eb9d99 
}

.done-status {
  background-color: #e3f8f1;
  color:#71cdbe 
}

/* Priority Classes */
.low-priority {
color:#fdcd00;
  background-color: #f4db71; /* Example styling for LOW priority */
}

.medium-priority {
  color: orange;
  background-color: #ec8e71; /* Example styling for MEDIUM priority */
}

.high-priority {
  color: #e01d1d; 
  background-color: #f06a6a;/* Example styling for HIGH priority */
}


tbody>tr>:nth-child(1){
  color:black;
  width:20%;
  text-align:center;
 }
 tbody>tr>:nth-child(2){
  color:black;
  width:40%;
  text-align:center;
 }
 tbody>tr>:nth-child(3){
  color:black;
  width:10%;
  text-align:center;
 }
 tbody>tr>:nth-child(4){
  color:black;
  width:10%;
  text-align:center;
 }
 tbody>tr>:nth-child(5){
  color:black;
  width:10%;
  text-align:center;
 }
 tbody>tr>:nth-child(6){
  color:black;
  width:10%;
  text-align:center;
 }